  <style>
  .alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 2px solid black;
  }

  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  .closebtn:hover {
    color: black;
  }
<style/>
{isInfoVisible && (
  <div className="alert">
    <span className="closebtn" onClick={handleInfoClick}>
      &times;
    </span> 
    <strong>Info!</strong> This is an alert message.
  </div>
)}