// .main-box{
//   background-color: #0b8 ;
//   padding: 20px;
//   margin: 20px;
  
//   border-radius: 10px;
//   border: rgb(201, 201, 201)  1px solid;
  
// }
// *{
//   box-sizing: border-box;
// }

// body{
//   margin-top: 200px;

// }

// .main-box{
//   display: flex;
 
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   justify-content: center;
  

// }
// .box{
//   background-color: #0b8 ;
//   padding: 20px;
//   margin: 20px;
  
//   border-radius: 10px;
//   border: rgb(201, 201, 201)  1px solid;
  
// }



@import url('https://fonts.googleapis.com/css?family=Muli:400,700,800&display=swap');
$font-set-1: 'Muli', Arial, sans-serif;

$normal: 400;
$bold: 700;
$extra-bold: 800;



.container5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  width: 100%;
  font-family: $font-set-1;
  // height: max-content;
  
}

.file-upload {
  display: flex;
  align-items: center;
  margin-top: 20px;
  font-family: $font-set-1;
}

.file-upload-label {
 
  background-color: white;
  border: 2px solid #0b8;
  color: black;
  border-radius: 100px;
  font-family: $font-set-1;
  padding: 10px 20px;
  // position: absolute;
  font-size: 16px;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  
}
#trans-img{
  margin-top: 30px;
  width: 100px;
  height: 100px;
  margin-right: 10px;
  // margin-left: 55px;
  
}
.file-upload-label:hover {
  
  background-color: #0b8;
  border: 2px solid white;
  color: white;
}

.upload-icon {
  width: 50px;
  margin-right: 10px;
}

.file-upload-input {
  display: none;
}



.main-head{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#main-heading{
  color: #0b8;
  font-weight: 580;
}

#main-heading1{
 color: rgb(125, 125, 125);
 font-weight: 500;
}

.inner-wrapper {
  max-width: 100;
  max-height: 100;
  padding: 40px 40px;
  padding-top: 10px;
}

.main-box{
  
  margin-top: 15px;
  font-family: $font-set-1 !important;
  border: 2px dashed #0b8;
  border-radius: 20px;
 
  // max-height: 540px;
  padding: 70px 400px;
  background-color: rgba(9, 173, 47, 0.045);
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.main-box:hover{
  transition: all 0.2s ease-in-out;
  transition: all 0.2s step-end;
  border-color: #0b8;

}

.main-box h3{
  font-family: $font-set-1;
  margin-top: 20px;
  font-size: 28px;
  font-weight: 590;
  color:black;
}

.btn{
  display:flex;
  flex-direction: row;
  font-family: $font-set-1;
}

#folder-icon{
  margin-right: 5px;
  margin-bottom: 5px;
}


.top-area{
  font-family: $font-set-1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h6{
  margin-top: 10px;
  font-family: $font-set-1;
  // position: absolute;
  // margin-top: 320px;
  // margin-left: 40px;
  color: rgb(125, 125, 125);
}

#file-txt, #right-arr{
  font-size: 45px;
  position: absolute;
  // margin-left:40px;
  color: rgb(7, 131, 98);
}


#right-arr{
  margin-left: 50px;
}
#sum-txt{
  font-family: $font-set-1;
  position: absolute;
  color: rgb(7, 131, 98);
  font-size: 37px;
  margin-top: 2px;
  // margin-left: 100px;
}

.iconss{
  color: rgb(56, 56, 56);
  margin-left: 20%;
  font-weight: 1;
  font-size: 30px;
}

// .box0{
//   padding:80px 200px ;
//   border: 1px solid  rgba(125, 125, 125, 0.13);
//   border-radius: 10px;
//   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: start;
 
// }

.mainHead{
  text-align: center;
  margin: 0 0 2rem 0;
}
// .box0 h2{

//   margin-left: 250px;
//   display: flex;
//   justify-content: center;
//   position: absolute;
//   margin-bottom: 50px;
//   color: #0b8;
//   font-weight: 800;
// }

.button-group .btn{
  border-color: #0b8;
  background-color: white;
  font-size: 2px;
}

.btn-group{
  
  
  background-color: white;
  border: 2px solid #0b8;
    margin-left: 10px;
    margin-right: 10px;
  border-radius: 10px;
  font-size: 35px;
  margin-top: 10px;
  
 
  // margin-left: 25px;
 
}

#btn-short , #btn-long{
  padding:5px 20px;
  font-size: 16px;
  text-align: center;
}
#btn-short:hover , #btn-med:hover , #btn-long:hover{
    background-color: #0b8;
    color: white;
    
    border-radius: 5px;
   
}


.loader1{
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #0b8;
  // margin-bottom: 10px;

  
}

.loadd{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // text-align: center;
  margin-bottom: 105px;
  
}

#loading21{
  margin-top: 35px;
  text-align: center;
  justify-content: center;
  align-items: center;
  // top: 50%;
  // left: 50%;
  
  
  // animation-delay: 5s; /* Delay the start of the animation by 5 seconds */

  
}

.summary-123{
  display: flex;
  flex-direction: column;
  
}
.summary-123 h2{
  color: #0b8;
  
  text-align: center;
}

.start-btn {
  padding-bottom: 20px;
}
.start-btn button{
  background-color: #0b8;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 16px;
  font-weight:bold;
}

.start-btn button:hover{
  background-color: rgb(1, 151, 111);
  color: white;
}

.main-sum-img{
  width: 18px;
  margin-right: 5px;
  margin-bottom: 4px;
}

// .line1{
//   white-space: nowrap;
//   overflow: hidden;
 
//   position: relative;

   
  
// }
// /* Animation */
// .anim-typewriter{

//   animation: typewriter 4s steps(44) 1s 1 normal both,
//              blinkTextCursor 500ms steps(44) infinite normal;
// }
// @keyframes typewriter{
//   from{width: 0;}
//   to{width: 24em;}
// }
// @keyframes blinkTextCursor{
//   from{border-right-color: rgba(255,255,255,.75);}
//   to{border-right-color: transparent;}
// }


// /* DEMO-SPECIFIC STYLES */
.anim-typewriter{
  
  color: #0b8;
  color: rgb(125, 125, 125);
  margin-top: 100px;
  
  font-family:$font-set-1 ;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  // border-right: .15em solid #0b8; /* The typwriter cursor */
  white-space: break-spaces; /* Keeps the content on a single line */
  // margin: 0 auto; /* Gives that scrolling effect as the typing happens */}
}
//   letter-spacing: .15em; /* Adjust as needed */
//   animation: 
//     typing 3s steps(100, end),
//     blink-caret .5s step-end infinite;
//     display: inline-block;
// }

// /* The typing effect */
// @keyframes typing {
//   from { width: 0 }
//   to { width: 100% }
// }

// /* The typewriter cursor effect */
// @keyframes blink-caret {
//   from, to { border-color: transparent }
//   50% { border-color: #0b8 }
// }





.main-box2{
  padding: 100px 100px;
  border: #0b8 2px dashed;
  border-radius: 10px;
  margin-top: 15px;
  border-radius: 20px;
  position: relative;
  
  padding: 130px 120px;
  background-color: rgba(9, 173, 47, 0.045);
}

           
#sum-txt0{
  line-height: 1.5em;
  color: rgb(75, 74, 74);
  font-size: 18px !important;
}



.main3boxhead{
  margin-top: 170px;
  color: rgb(75, 75, 75);
  text-align: center;
}
.main3box{
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 100px;

  
}

.main3box1{
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 210px;

  
}

#bulb ,  #clock, #os{
  line-height: 2em;
  width: 45px;
  height: 45px;
 
}
 #ai, #safee{
  line-height: 7em;
  width: 40px;
  height: 40px;
 }

 #translate{
  line-height: 2em;
  width: 60px;
  height: 60px;
 }

.main-01 , .main-02 , .main-03, .main-05, .main-07, .main-08{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-01 p, .main-02 p, .main-03 p , .main-05 p, .main-07 p, .main-08 p{
  line-height: 2em;
  margin-top: 7px;

 
  
}

.main-01 span , .main-02 span , .main-03 span{
  text-align: center;
  // word-wrap: break-word;
  // white-space: break-spaces;

  margin: 0px 24px;

}

.main-05 span, .main-07 span, .main-08 span{
  margin: 0px 20px;
}


.main5box{
  
  font-size:medium;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  // background-color: rgb(235, 255, 248);
  // background-color: rgb(244, 250, 252);
  font-family: Poppins,sans-serif;
  color: #777777;
  width: 100%;
  padding: 90px 0px;
  margin-bottom: 120px;
  padding: 70px 80px;
  background: #fafafa;
}
.main-5-1 .num{

 
}

.How-txt-main{
  margin-top: 10px;
}
.How-txt h2{
  margin-top: 50px;
  margin-bottom: 0px;
  text-align: center;
  // color: #0b8;
  color: rgb(75,75,75);
}

.How-txt  p{
  text-align: left;
  margin-right: 100px;
  color: #777777;
  font-size: 19px;

}
.How-txt p:first-child{
  margin-top: 80px;
}
.How-txt p:last-child{
  margin-bottom: 100px;
}

.How-txt-main{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.How-txt-main img{
  width: 280px;

 
}
.How-txy img{
  width:350px;
}


.main-5-1 h4{
  
  font-weight: 550px;
  margin-bottom: 20px;
  font-size: 30px;
  // color: #4a4a4a;
  color: rgb(26, 26, 26);

  // overflow: hidden; /* Ensures the content is not revealed until the animation */
  // border-right: .15em solid #0b8; /* The typwriter cursor */
  // white-space: nowrap; /* Keeps the content on a single line */
  // margin: 0 auto; /* Gives that scrolling effect as the typing happens */

  letter-spacing: .15em; /* Adjust as needed */
  // animation: 
  //   // typing 3s steps(100, end),
  //   blink-caret .5s step-end infinite;
  //   display: inline-block;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #0b8 }
}



.main-5-1 p{
  line-height: 1.5em;

  color: rgb(26, 26, 26);
  
}

.main-5-2{
  padding-left: 40px;
  margin-left: 100px;
  
}

.main5box:hover{

  // box-shadow: rgba(0, 0, 0, 0.15) 5.45px 5.45px 5.1px;
}

.main-5-2 img{
  width: 300px;
  height: 320px;
}


body{
  background-color: white;
}

.summary-123{

  
  
}





// .action-point {
//   margin-top: 20px;
//   margin-left: 200px;
//   margin-right: 200px;
// }

// .action-point h4 {
//   margin-bottom: 10px;
//   color: rgb(75, 75, 75);
// }

// .keywords {
//   display: inline-block;
//   margin-top: 10px;
// }

// .keyword {
//   display: inline-block;
//   padding: 5px 10px;
//   background-color: #0b8;
//   color: white;
//   border-radius: 4px;
//   font-size: 18px;
//   margin-right: 10px;
//   margin-bottom: 10px;
// }

// .keyword:hover {
//   box-shadow: rgba(0, 0, 0, 0.15) 4px 4px 6px;
// }

// .summary p{
//   color: rgb(75,75,75);
//   font-size: 19px;
//   line-height: 2em;
// }
// .main-box-sum {
//   text-align: center;
//   // box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
//   width: 100%;
//   padding: 50px;

// }



.main-box-sum {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  font-family: $font-set-1;
  margin-bottom: 100px;
}

.main-title {
  font-size: 2rem;
  margin: 0;
}

.main-hr {
  border: none;
  height: 1px;
  background-color: #ddd;
  margin: 20px 0;
}

.main-summary {
  font-family: $font-set-1;
  font-size: 1.2rem;
  line-height: 2em;
}

.main-action-points {
  margin-top: 30px;

}
.main-att-title{
  font-size: 1.2rem;
  margin-bottom: 20px;
  
}
.main-action-title {
  font-size: 1.2rem;
  margin: 0;
}

.main-keywords {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.main-keyword {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px 10px;
  background-color: #0b8;
  color: #fff;
  border-radius: 20px;
  font-size: 0.9rem;
  // font-size: 15px;
}



.translation-button {
  background-color: #0b8;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 16px;
  font-weight:bold;

  &:hover {
    background-color: rgb(1, 151, 111);
  }
}

.language-selector {
  margin-top: 10px;

  select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
  }
}








@media screen and (max-width: 800px) {
  .start-btn button {
    background-color: #0b8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
  }

  .start-btn button:hover {
    background-color: rgb(1, 151, 111);
  }

  .main-sum-img {
    width: 18px;
    margin-right: 5px;
    margin-bottom: 4px;
  }

  .main-box-sum {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    font-family: $font-set-1;
    margin-bottom: 60px;
  }

  .main-title {
    font-size: 1.2rem;
    margin: 0;
  }

  .main-hr {
    border: none;
    height: 1px;
    background-color: #ddd;
    margin: 20px 0;
  }

  .main-summary {
    font-family: $font-set-1;
    font-size: 1rem;
    line-height: 1.5em;
  }

  .main-action-points {
    margin-top: 20px;
  }

  .main-action-title {
    font-size: 1.1rem;
    margin: 0;
  }

  .main-keywords {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }

  .main-keyword {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px 10px;
    background-color: #0b8;
    color: #fff;
    border-radius: 20px;
    font-size: 0.8rem;
  }

  .translation-button {
    background-color: #0b8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
    font-size: 14px;
    font-weight: bold;
  }

  .translation-button:hover {
    background-color: rgb(1, 151, 111);
  }

  .language-selector {
    margin-top: 10px;
  }

  .language-selector select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 5px;
  }
}



.down1{
 
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.down10{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px;
}

.down11 , .down12{
  padding: 70px 50px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  font-family: $font-set-1;
  
  margin: 0px 70px;
}

.down111 , .down121{
  font-size: 18px;
  padding: 70px 40px;
  background-color: #0b8;
  border-radius: 10px;
  color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  font-family: $font-set-1;
 
}

#stat{
  font-size: 40px;
  color: rgb(75, 75, 75);
  text-align: center;
}

.downh4{
  color: #0b8;
  font-weight: bold;
}

.down1110{
  font-weight: bold;
  padding: 7px 15px;
  background: rgb(0, 186, 136);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  font-family: $font-set-1;
}






@media screen and (max-width: 800px){






  .main-box{
  
    margin-top: 15px;
    font-family: $font-set-1 !important;
    border: 2px dashed #0b8;
    border-radius: 20px;
   
    // max-height: 540px;
    padding: 20px 10px;
    background-color: rgba(9, 173, 47, 0.045);
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }


  // .main-box h3{
  //   font-family: $font-set-1;
  //   margin-top: 5px;
  //   font-size: 28px;
  //   font-weight: 590;
  //   color:black;
  // }



  #trans-img{
    margin-top: 30px;
    width: 70px;
    height: 70px;
    margin-right: 10px;
    // margin-left: 55px;
    
  }


  .file-upload-label {
 
    font-size: 14px;
    padding: 7px 14px;
    // position: absolute;
    
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    
  }
  
  #main-heading1{
    font-size: 17px;
  }

  .main-box h6{
    font-size: 14px;
  }

  


  .How-txt-right img{
    margin-top: 0px;
    width: 0px;
  }
  #bulb ,  #clock, #os{
    line-height: 2em;
    width: 30px;
    height: 30px;
   
  }
   #ai, #safee{
    line-height: 7em;
    width: 25px;
    height: 25px;
   }
  
   #translate{
    line-height: 2em;
    width: 45px;
    height: 45px;
   }


   .main3box{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
 
  }

  .main3box1{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
  }

  .main3boxhead{
    // margin-top: 100px;
    color: rgb(75, 75, 75);
    text-align: center;
  }


   .main-05, .main-07 , .main-02 , .main-03{
    margin-top: 25px;
  }
 
  .How-txt h2{
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .How-txt-main{
    display: flex;
    flex-direction: column;
  }


  .How-txt  p{
    text-align: center;
    margin-right: 0px;
    color: #777777;
    font-size: 15px;
  
  }


  .main3box1{
    margin-bottom: 100px;
  }

  .main3box{
    margin-bottom: 20px;
  }






  #stat{
    font-size: 35px;
    color: rgb(75, 75, 75);
    text-align: center;
  }
  .down10{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
  }

 
  .down111 , .down121{
    font-size: 7px;
    padding: 27px 50px;
    background-color: #0b8;
    border-radius: 10px;
    color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    font-family: $font-set-1;
    
   

  }

  .down121 , .down111 {
    font-size: 12px;
  }
  .down11, .down12{
    margin-top: 30px;
    margin-bottom: 30px;
  }
}



.main-att p{
  color: #747474;
  font-size: 14px;
  font-weight: bold;
  }